<h3>Shopping Cart</h3>
<div>#/Items: {{ dataService.order.items.length }}</div>
<div>Subtotal: {{ dataService.order.subtotal | currency:"USD":symbol  }}</div>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <td>Product</td>
            <td>#</td>
            <td>$</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of dataService.order.items">
            <td>{{ o.productCategory }} - {{ o.productTitle }}</td>
            <td>{{ o.quantity }}</td>
            <td>{{ o.unitPrice | currency:"USD":true }}</td>
            <td>{{ (o.unitPrice * o.quantity) | currency:"USD":symbol }}</td>
        </tr>
    </tbody>
</table>

<button class="btn btn-success" *ngIf="dataService.order.items.length" (click)="onCheckout()">Checkout</button>